.common-footer-wrapper-outer
  .common-footer-wrapper
    footer.common-footer1
      .container
        .row
          .col-sm-12
            .common-sect-para
              h3(data-aos="fade-up" data-aos-delay="300" data-aos-anchor=".common-footer-wrapper-outer")
                | Believe in possibilities and navigate 
                br
                | beyond the expected with us !
              .btn-row(data-aos="fade-up" data-aos-delay="600" data-aos-anchor=".common-footer-wrapper-outer")
      
      .hero-circle-wrap
        img.hero-circle.hero-circle5(src="/images/foot-circle5.svg" alt="hero-circle5" width="93" height="391" data-aos="fade-right" data-aos-delay="100" data-aos-anchor=".common-footer-wrapper-outer" loading="lazy")
        img.hero-circle.hero-circle4(src="/images/foot-circle4.svg" alt="hero-circle4" width="139" height="419" data-aos="fade-right" data-aos-delay="150" data-aos-anchor=".common-footer-wrapper-outer" loading="lazy")
        img.hero-circle.hero-circle3(src="/images/foot-circle3.svg" alt="hero-circle3" width="187" height="446" data-aos="fade-right" data-aos-delay="300" data-aos-anchor=".common-footer-wrapper-outer" loading="lazy")
        img.hero-circle.hero-circle2(src="/images/foot-circle2.svg" alt="hero-circle2" width="240" height="482" data-aos="fade-right" data-aos-delay="450" data-aos-anchor=".common-footer-wrapper-outer" loading="lazy")
        img.hero-circle.hero-circle1(src="/images/foot-circle1.svg" alt="hero-circle1" width="482" height="482" data-aos="fade-right" data-aos-delay="600" data-aos-anchor=".common-footer-wrapper-outer" loading="lazy")
    
    footer.common-footer2
      .container
        .row
          .col-lg-8.col-md-7
            .footer-left
              .logo-wrap
                img(src="/images/favicon.ico" alt="Mamo log" width="69" height="69" loading="lazy")
              p.para MaMo TechnoLabs LLP Provide best web development solution & Customized Strategies To Our Clients Based On Their Business Goals and Objectives.
              
              .show-desktop.hide-mobile
                ul.social-ul
                  li
                    a.facebook(href="https://www.facebook.com/p/MaMo-Technolabs-LLP-61551035098279/" target="_blank")
                      img(src="/images/facebook-logo.svg" alt="facebook" width="17" height="17" loading="lazy")
                  li
                    a.linkedIn(href="https://www.linkedin.com/company/mamotechnolabs/posts/?feedView=all" target="_blank")
                      img(src="/images/linkedIn-logo.svg" alt="linkedIn" width="12" height="11" loading="lazy")
                  li
                    a.instagram(href="https://www.instagram.com/mamotechnolabs?igsh=MTlweHh5dTRuOGZnMA==" target="_blank")
                      img(src="/images/instagram-icon-logo.svg" alt="instagram" width="13" height="13" loading="lazy")
              
              .show-desktop.hide-mobile
                ul.iso-ul
                  li
                    img(src="/images/77942-I%26M BU - CMMI Development - Maturity Level - 3.png" alt="CMMI" width="697" height="250" loading="lazy")
                  li
                    img(src="/images/iso1.png" alt="iso1" width="168" height="168" loading="lazy")
                  li
                    img(src="/images/iso2.png" alt="iso2" width="168" height="168" loading="lazy")
          
          .col-lg-4.col-md-5
            .row
              .col-12.col-md-6
                .footer-right
                  ul.footer-link(style="margin: 0 40px 0 0; padding: 0;")
                    h3(style="color: #ffffff; font-size: clamp(18px, 5vw, 24px); margin-bottom: 8px; margin-top: 0; padding: 0;") Quick Links
                    li(style="margin-bottom: 6px;")
                      a(href="/") Home
                    li(style="margin-bottom: 6px;")
                      a(href="/about-us") About Us
                    li(style="margin-bottom: 0;")
                      a(href="/contact") Contact
                  
                  .col-12.col-md-8(style="padding-left: 50;")
                    div(style="width: 100%;")
                      h3(style="color: #ffffff; font-size: clamp(18px, 5vw, 24px); margin-bottom: 8px; margin-top: 0; padding: 0;") Our Offices
                      p(style="color: #ffff; font-size: clamp(13px, 3.5vw, 16px); line-height: 1.0; margin: 0; padding: 0; flex-wrap: wrap;")
                        | Vadodara, Dubai, Bogota,
                        br
                        | Lima, Peru, Panama
                  
                  .hide-desktop.show-mobile
                    ul.social-ul(style="margin: 12px 0 0 0; gap: 12px; padding: 0;")
                      li
                        a.facebook(href="https://www.facebook.com/p/MaMo-Technolabs-LLP-61551035098279/" target="_blank")
                          img(src="/images/facebook-logo.svg" alt="facebook" width="17" height="17" loading="lazy")
                      li
                        a.linkedIn(href="https://www.linkedin.com/company/mamotechnolabs/posts/?feedView=all" target="_blank")
                          img(src="/images/linkedIn-logo.svg" alt="linkedIn" width="12" height="11" loading="lazy")
                      li
                        a.instagram(href="https://www.instagram.com/mamotechnolabs?igsh=MTlweHh5dTRuOGZnMA==" target="_blank")
                          img(src="/images/instagram-icon-logo.svg" alt="instagram" width="13" height="13" loading="lazy")
                  
                  .hide-desktop.show-mobile
                    ul.iso-ul(style="margin: 8px 0 0 0; padding: 0;")
                      li
                        img(src="/images/77942-I%26M BU - CMMI Development - Maturity Level - 3.png" alt="CMMI" width="697" height="250" loading="lazy")
                      li
                        img(src="/images/iso1.png" alt="iso1" width="168" height="168" loading="lazy")
                      li
                        img(src="/images/iso2.png" alt="iso2" width="168" height="168" loading="lazy")
        
        .row.common-footer3-row
          .col-lg-8.col-md-7
            p.sm-para © 2026 Mamo Technologies | All rights reserved
          .col-lg-4.col-md-5.mobile-first-col
            ul.tc-link
              li
                a(href="/term-conditions") Terms and Conditions
              li.text-White |
              li
                a(href="/privacy-policy") Privacy Policy
    
    .cookie-card.d-none
      .cookie-card-head
        img(src="/images/cookie.svg" alt="cookie" width="48" height="48" loading="lazy")
        a.hide-cookie-card-btn(href="#")
          img(src="/images/Close_MD.svg" alt="Close_MD" width="24" height="24" loading="lazy")
      .cookie-card-body
        p.para
          | Our website uses cookies to enhance your browsing experience, personalize content, and analyze our traffic. By clicking "Accept All", you agree to the storing of cookies on your device to improve site navigation, analyze site usage, and assist in our marketing efforts. For more detailed information, please visit our 
          br
          a(href="/privacy-policy" target="_blank" rel="noopener noreferrer") Privacy Policy
          | .
        .btn-row
          .btn.btn-normal
            .btn-fill.btn-original-fill
            .btn-text.btn-original-text
              a.btn-click.hide-cookie-card-btn(href="#")
                span Accept All
            .btn-fill.btn-duplicate-fill
            .btn-text.btn-duplicate-text
              a.btn-click.hide-cookie-card-btn(href="#")
                span Accept All
    
    #chatToggle.chat-fab
