/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_mycollection";
    src: url("../fonts/flaticon_mycollection.woff2") format("woff2"),
    url("../fonts/flaticon_mycollection.woff") format("woff"),
    url("../fonts/flaticon_mycollection.eot#iefix") format("embedded-opentype"),
    url("../fonts/flaticon_mycollection.ttf") format("truetype"),
    url("../images/flaticon_mycollection.svg#flaticon_mycollection") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_mycollection !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-scenic:before {
    content: "\f101";
}
.flaticon-abstract:before {
    content: "\f102";
}
.flaticon-abstract-1:before {
    content: "\f103";
}
.flaticon-abstract-2:before {
    content: "\f104";
}
.flaticon-abstract-3:before {
    content: "\f105";
}
.flaticon-abstract-4:before {
    content: "\f106";
}
.flaticon-abstract-5:before {
    content: "\f107";
}
.flaticon-abstract-6:before {
    content: "\f108";
}
.flaticon-abstract-7:before {
    content: "\f109";
}
.flaticon-abstract-8:before {
    content: "\f10a";
}
.flaticon-abstract-9:before {
    content: "\f10b";
}
.flaticon-abstract-10:before {
    content: "\f10c";
}
.flaticon-abstract-11:before {
    content: "\f10d";
}
.flaticon-candidate:before {
    content: "\f10e";
}
.flaticon-job-search:before {
    content: "\f10f";
}
.flaticon-employee:before {
    content: "\f110";
}
.flaticon-management:before {
    content: "\f111";
}
.flaticon-idea:before {
    content: "\f112";
}
.flaticon-user:before {
    content: "\f113";
}
.flaticon-handshake:before {
    content: "\f114";
}
.flaticon-employee-1:before {
    content: "\f115";
}
.flaticon-management-1:before {
    content: "\f116";
}
.flaticon-job-search-1:before {
    content: "\f117";
}
.flaticon-time-management:before {
    content: "\f118";
}
.flaticon-presentation:before {
    content: "\f119";
}
.flaticon-award:before {
    content: "\f11a";
}
.flaticon-candidates:before {
    content: "\f11b";
}
.flaticon-hierarchical-structure:before {
    content: "\f11c";
}
.flaticon-conversation:before {
    content: "\f11d";
}
.flaticon-profiles:before {
    content: "\f11e";
}
.flaticon-candidates-1:before {
    content: "\f11f";
}
.flaticon-trophy:before {
    content: "\f120";
}
.flaticon-puzzle:before {
    content: "\f121";
}
.flaticon-work-team:before {
    content: "\f122";
}
.flaticon-recruitment:before {
    content: "\f123";
}
.flaticon-resume:before {
    content: "\f124";
}
.flaticon-resume-1:before {
    content: "\f125";
}
.flaticon-id-card:before {
    content: "\f126";
}
.flaticon-hiring:before {
    content: "\f127";
}
.flaticon-conversation-1:before {
    content: "\f128";
}
.flaticon-finances:before {
    content: "\f129";
}
.flaticon-leadership:before {
    content: "\f12a";
}
.flaticon-hiring-1:before {
    content: "\f12b";
}
.flaticon-skills:before {
    content: "\f12c";
}
.flaticon-email:before {
    content: "\f12d";
}
.flaticon-analytics:before {
    content: "\f12e";
}
.flaticon-target:before {
    content: "\f12f";
}
.flaticon-management-2:before {
    content: "\f130";
}
.flaticon-puzzle-1:before {
    content: "\f131";
}
.flaticon-strategy:before {
    content: "\f132";
}
.flaticon-problems:before {
    content: "\f133";
}
.flaticon-podium:before {
    content: "\f134";
}
.flaticon-profits:before {
    content: "\f135";
}
.flaticon-calendar:before {
    content: "\f136";
}
.flaticon-portfolio:before {
    content: "\f137";
}
.flaticon-list:before {
    content: "\f138";
}
.flaticon-pension:before {
    content: "\f139";
}
.flaticon-deal:before {
    content: "\f13a";
}
.flaticon-diploma:before {
    content: "\f13b";
}
.flaticon-job-search-2:before {
    content: "\f13c";
}
.flaticon-job-search-3:before {
    content: "\f13d";
}
.flaticon-salary:before {
    content: "\f13e";
}
.flaticon-promotion:before {
    content: "\f13f";
}
.flaticon-project-management:before {
    content: "\f140";
}
.flaticon-abstract-12:before {
    content: "\f141";
}
.flaticon-abstract-13:before {
    content: "\f142";
}
.flaticon-abstract-14:before {
    content: "\f143";
}
.flaticon-abstract-15:before {
    content: "\f144";
}
.flaticon-abstract-16:before {
    content: "\f145";
}
.flaticon-abstract-17:before {
    content: "\f146";
}
.flaticon-abstract-18:before {
    content: "\f147";
}
.flaticon-abstract-19:before {
    content: "\f148";
}
.flaticon-abstract-20:before {
    content: "\f149";
}
.flaticon-abstract-21:before {
    content: "\f14a";
}
.flaticon-abstract-22:before {
    content: "\f14b";
}
.flaticon-abstract-23:before {
    content: "\f14c";
}
.flaticon-abstract-24:before {
    content: "\f14d";
}
.flaticon-abstract-25:before {
    content: "\f14e";
}
.flaticon-abstract-26:before {
    content: "\f14f";
}
.flaticon-abstract-27:before {
    content: "\f150";
}
.flaticon-abstract-28:before {
    content: "\f151";
}
.flaticon-abstract-29:before {
    content: "\f152";
}
.flaticon-abstract-30:before {
    content: "\f153";
}
.flaticon-abstract-31:before {
    content: "\f154";
}
.flaticon-abstract-32:before {
    content: "\f155";
}
.flaticon-abstract-33:before {
    content: "\f156";
}
.flaticon-abstract-34:before {
    content: "\f157";
}
.flaticon-abstract-35:before {
    content: "\f158";
}
.flaticon-abstract-36:before {
    content: "\f159";
}
.flaticon-abstract-37:before {
    content: "\f15a";
}
.flaticon-abstract-38:before {
    content: "\f15b";
}
.flaticon-conveyor:before {
    content: "\f15c";
}
.flaticon-stats:before {
    content: "\f15d";
}
.flaticon-education:before {
    content: "\f15e";
}
.flaticon-team:before {
    content: "\f15f";
}
.flaticon-folder:before {
    content: "\f160";
}
.flaticon-goal:before {
    content: "\f161";
}
.flaticon-dollar:before {
    content: "\f162";
}
.flaticon-pay:before {
    content: "\f163";
}
.flaticon-calendar-1:before {
    content: "\f164";
}
.flaticon-task-list:before {
    content: "\f165";
}
.flaticon-profile:before {
    content: "\f166";
}
.flaticon-briefcase:before {
    content: "\f167";
}
.flaticon-search:before {
    content: "\f168";
}
.flaticon-identity:before {
    content: "\f169";
}
.flaticon-target-1:before {
    content: "\f16a";
}
.flaticon-talking:before {
    content: "\f16b";
}
.flaticon-interview:before {
    content: "\f16c";
}
.flaticon-podium-1:before {
    content: "\f16d";
}
.flaticon-agreement:before {
    content: "\f16e";
}
.flaticon-diagram:before {
    content: "\f16f";
}
.flaticon-email-1:before {
    content: "\f170";
}
.flaticon-badge:before {
    content: "\f171";
}
.flaticon-laptop:before {
    content: "\f172";
}
.flaticon-life-guard:before {
    content: "\f173";
}
.flaticon-link:before {
    content: "\f174";
}
.flaticon-hierarchy:before {
    content: "\f175";
}
.flaticon-employee-2:before {
    content: "\f176";
}
.flaticon-transfer:before {
    content: "\f177";
}
.flaticon-account:before {
    content: "\f178";
}
.flaticon-diagram-1:before {
    content: "\f179";
}
.flaticon-hierarchy-1:before {
    content: "\f17a";
}
.flaticon-brain:before {
    content: "\f17b";
}
.flaticon-shield:before {
    content: "\f17c";
}
.flaticon-connect:before {
    content: "\f17d";
}
.flaticon-pin:before {
    content: "\f17e";
}
.flaticon-tie:before {
    content: "\f17f";
}
.flaticon-diamond:before {
    content: "\f180";
}
.flaticon-interview-1:before {
    content: "\f181";
}
.flaticon-eye:before {
    content: "\f182";
}
.flaticon-man:before {
    content: "\f183";
}
.flaticon-clock:before {
    content: "\f184";
}
.flaticon-user-1:before {
    content: "\f185";
}
.flaticon-connect-1:before {
    content: "\f186";
}
.flaticon-faq:before {
    content: "\f187";
}
.flaticon-hierarchy-2:before {
    content: "\f188";
}
.flaticon-support:before {
    content: "\f189";
}
.flaticon-calculator:before {
    content: "\f18a";
}
.flaticon-setting:before {
    content: "\f18b";
}
.flaticon-directory:before {
    content: "\f18c";
}
.flaticon-analyzing:before {
    content: "\f18d";
}
.flaticon-profile-1:before {
    content: "\f18e";
}
.flaticon-employee-3:before {
    content: "\f18f";
}
.flaticon-resume-2:before {
    content: "\f190";
}
.flaticon-flight:before {
    content: "\f191";
}
.flaticon-contract:before {
    content: "\f192";
}
.flaticon-abstract-39:before {
    content: "\f193";
}
.flaticon-team-1:before {
    content: "\f194";
}
.flaticon-orbit:before {
    content: "\f195";
}
.flaticon-pie-chart:before {
    content: "\f196";
}
.flaticon-business-proposal:before {
    content: "\f197";
}
.flaticon-trust:before {
    content: "\f198";
}
.flaticon-solution:before {
    content: "\f199";
}
.flaticon-continuous-improvement:before {
    content: "\f19a";
}
.flaticon-relationships:before {
    content: "\f19b";
}
.flaticon-analysis:before {
    content: "\f19c";
}
.flaticon-public-health:before {
    content: "\f19d";
}
.flaticon-social-security:before {
    content: "\f19e";
}
.flaticon-idea-1:before {
    content: "\f19f";
}
.flaticon-compassion:before {
    content: "\f1a0";
}
.flaticon-infographics:before {
    content: "\f1a1";
}
.flaticon-experts:before {
    content: "\f1a2";
}
.flaticon-relationship:before {
    content: "\f1a3";
}
.flaticon-need-assessment:before {
    content: "\f1a4";
}
.flaticon-diversity:before {
    content: "\f1a5";
}
.flaticon-approach:before {
    content: "\f1a6";
}
.flaticon-timer:before {
    content: "\f1a7";
}
.flaticon-digital-transformation:before {
    content: "\f1a8";
}
.flaticon-marketplace:before {
    content: "\f1a9";
}
.flaticon-partnership:before {
    content: "\f1aa";
}