doctype html
head
  meta(charset='utf-8')
  meta(name='description' content='MaMo TechnoLabs LLP is a Vadodara-based IT and software development company providing professional web, mobile and custom software solutions in India.')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='icon' href='images/favicon.ico' type='image/vnd.microsoft.icon')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css')
  title About MaMo TechnoLabs LLP | IT Company in Vadodara

  link(rel='stylesheet' media='all' href='css/style.min.css')

  script.
    window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-1BESF224BJ');
  link(rel='stylesheet' href='css/css/swiper-bundle.min.css')  
  link(rel='stylesheet' href='css/css/scrollCue.min.css')
  link(rel='stylesheet' href='css/css/style.css')
  
a.visually-hidden.focusable.skip-link(href='#main-content')
  | Skip to main content
include partials/header
main.main
  .dialog-off-canvas-main-canvas(data-off-canvas-main-canvas='')
    .layout-container
      // Start Page Banner Area
      .page-banner-area
        .container-fluid
          .row.justify-content-center.align-items-center.g-4(data-cues='slideInUp' data-duration='1000')
            .col-xl-8.col-md-12
              .page-banner-content
                .content.section-title-animation.animation-style
                  h2.title-animation About Us
                  ul.list
                    li
                      a(href='/') Home
                    li About Us
                .image
                  img(src='images/page-banner1.png' alt='image')
            .col-xl-4.col-md-12
              .page-banner-right-content
                .wrap-image
                  img(src='images/favicon.ico' alt='image')
                .wrap-content
                  p
                    | MaMo Technolab is a CMMI level 3 Vadodara-based technology company delivering reliable, scalable and innovative digital solutions for businesses of all sizes.
                  ul.list
                    li
                      span Follow Us:
                    li
                      a(href='https://www.facebook.com/p/MaMo-Technolabs-LLP-61551035098279/' target='_blank')
                        // <i class="ri-facebook-fill"></i>
                        i.fa-brands.fa-facebook
                    li
                      a(href='https://www.instagram.com/mamotechnolabs?igsh=MTlweHh5dTRuOGZnMA%3D%3D' target='_blank')
                        // <i class="ri-twitter-x-line"></i>
                        i.fa-brands.fa-instagram
                    li
                      a(href='https://www.linkedin.com/company/mamotechnolabs/posts/?feedView=all target=')
                        // <i class="ri-linkedin-fill"></i>
                        i.fa-brands.fa-linkedin
      .outsourcing-values-area.bg-F5F5F5.ptb-120
        .container
          .section-title.text-center.section-title-animation.animation-style
            h2.title-animation Our Core Values
          .row.justify-content-center.g-4(data-cues='slideInUp' data-duration='1000')
            .col-lg-3.col-sm-6
              .outsourcing-values-card
                .icon
                  i.fa-solid.fa-lightbulb
                h3 Innovation
                p
                  | We continuously explore new technologies and smarter digital solutions to help businesses grow and stay ahead in a rapidly evolving digital world.
            .col-lg-3.col-sm-6
              .outsourcing-values-card
                .icon
                  i.fa-brands.fa-angellist
                h3 Empathy
                p
                  | We listen carefully, understand your real business challenges, and build solutions that truly support your goals and users.
            .col-lg-3.col-sm-6
              .outsourcing-values-card
                .icon
                  i.fa-brands.fa-battle-net
                h3 Integrity
                p
                  | We believe in transparent communication, ethical practices, and delivering exactly what we commit to our clients.
            .col-lg-3.col-sm-6
              .outsourcing-values-card
                .icon
                  i.fa-regular.fa-handshake
                h3 Partnership
                p
                  | We work as a long-term technology partner, supporting your business growth beyond project delivery.

      .consulting-choose-area.ptb-120
        .container
          .row.justify-content-center.g-4(data-cues='fadeIn' data-duration='1000')
            .col-lg-5.col-md-12
              .consulting-choose-content.section-title-animation.animation-style3
                span.sub Why Choose MaMo
                h2.title-animation Technology partner for your growth.
                img(src='images/choose2.png' alt='image')
            .col-lg-7.col-md-12
              .consulting-choose-items
                .item
                  .icon
                    i.fa-solid.fa-sliders.fa-sm
                  h3 Tailored Solutions
                  p
                    | We don&apos;t believe in one-size-fits-all approaches. Every solution is customized to your unique business challenges and culture.
                .item
                  .icon
                    i.fa-solid.fa-user-group
                  h3 Expert Team
                  p
                    | Our consultants are seasoned HR professionals with an average of 15+ years of experience across diverse industries.
                .item
                  .icon
                    i.fa-solid.fa-arrow-trend-up
                  h3 Proactive Approach
                  p
                    | We help you build systems to prevent problems before they happen, saving you time, money, and potential legal issues.
                .item
                  .icon
                    i.fa-solid.fa-chart-simple
                  h3 Measurable Results
                  p
                    | We focus on delivering tangible outcomes with clear metrics to track progress and demonstrate ROI.
                .item
                  .icon
                    i.fa-solid.fa-handshake
                  h3 Partnership Model
                  p
                    | We act as an extension of your team, building long-term relationships focused on your sustained success.
                .item
                  .icon
                    i.fa-solid.fa-gears
                  h3 Technology Integration
                  p
                    | We leverage cutting-edge HR technology to streamline processes and provide data-driven insights.
      // End Consulting Choose Area
    include partials/footer
      

  script(type='application/json' data-drupal-selector='drupal-settings-json').
    {"path":{"baseUrl":"\\/","pathPrefix":"","currentPath":"contact","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"","suppressDeprecationErrors":true,"clientside_validation_jquery":{"validate_all_ajax_forms":2,"force_validate_on_blur":false,"force_html5_validation":false,"messages":{"required":"This field is required.","remote":"Please fix this field.","email":"Please enter a valid email address.","url":"Please enter a valid URL.","date":"Please enter a valid date.","dateISO":"Please enter a valid date (ISO).","number":"Please enter a valid number.","digits":"Please enter only digits.","equalTo":"Please enter the same value again.","maxlength":"Please enter no more than {0} characters.","minlength":"Please enter at least {0} characters.","rangelength":"Please enter a value between {0} and {1} characters long.","range":"Please enter a value between {0} and {1}.","max":"Please enter a value less than or equal to {0}.","min":"Please enter a value greater than or equal to {0}.","step":"Please enter a multiple of {0}."},"user":{"uid":0,"permissionsHash":"9582417dfe80a723cf846f43ffbed3652f88ffa08ae3527b795beeabfddfb78f"}

  script(src='js/js/jquery.min.js')
  script(src='js/bootstrap.bundle.min.js')
  script(src='js/once.min.js')
  script(src='js/page.js' defer='')
  script(src='js/lottie-player.js')  
  script(src='js/global.js')
  script(src='js/custom.js')
  script(data-cfasync='false' src='js/js/email-decode.min.js')
  script(src='js/js/swiper-bundle.min.js')
  script(src='js/js/scrollCue.min.js')
  script(src='js/js/simpleParallax.min.js')
  script(src='js/js/fslightbox.min.js')
  script(src='js/js/SplitText.min.js')
  script(src='js/js/main.js')
